@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

:root{
    --font-family: 'Nunito', sans-serif;
    --color-negro: #000000;
    --color-black: #16161A;
    --color-white: #FFFFFE;
    --color-grey: #94A1B2;
    --color-neutral: #232E35;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}
body::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: inherit;
}

body::-webkit-scrollbar:vertical {
    width:8px;
}
body::-webkit-scrollbar:horizontal {
    height:8px;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-black);
    border-radius: 4px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: inherit;
}