/* ------------------ */
/* COMPONENTE NAVBAR */
/* ------------------ */

.nav ,
.navbar{
    background-color: var(--color-black);
}

.navbar .logo{
    width: 40%;
}

/* ------------------ */
/* COMPONENTE ABOUTME */
/* ------------------ */

.container-aboutme{
    color: var(--color-white);
    background-color: var(--color-black);
}

.aboutme{
    width: 85%;
    margin: auto;
}

.aboutme .arrow {
    font-size: 2.5rem;
}

/* ------------------- */
/* COMPONENTE PROJECTS */
/* ------------------- */

.projects{
    width: 85%;
    margin: auto;
    padding: 40px 0;
}

.proj-principal{
    background-image: url('../assets/foto-prueba.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    box-sizing: border-box;
    color: var(--color-white);
    width: 100%;
    height: 500px;
}
.container-card{
    background-color: var(--color-black);
}

.proj-secondary{
    width: 100%;
    box-sizing: border-box;
}

.secondary{
    color: var(--color-white);
    width: 100%;
    height: 450px;
    margin-top: 1rem;
    box-sizing: border-box;
}
.s1{
    background-image: url('../assets/foto-prueba.png');
    background-repeat: no-repeat;
    background-size: cover;    
}
.s2{
    background-image: url('../assets/foto-prueba.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------------ */
/* COMPONENTE SERVICE */
/* ------------------ */

.container-service{
    background: rgb(107,107,255);
    background: linear-gradient(135deg, rgba(107,107,255,1) 0%, rgba(48,48,209,1) 42%, rgba(9,9,121,1) 100%);
    padding: 80px 0;

}

.service{
    width: 85%;
    margin: auto;
}

.service ul{
    list-style: none;
    padding: 0;
}

.service ul li{
    padding: 3px 0;
}
/* ---------------------- */
/* COMPONENTE TESTIMONIES */
/* ---------------------- */

.container-testimonies{
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 80px 0;
}

.testimonies{
    width: 85%;
    margin: auto;
}

.t-name{
    width: 100%;
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.875rem;
}
.t-name img{
    width: auto;
    height: 100%;
}

/* ------------------ */
/* COMPONENTE CONTACT */
/* ------------------ */

.container-contact{
    background: rgb(107,107,255);
    background: linear-gradient(135deg, rgba(107,107,255,1) 0%, rgba(48,48,209,1) 42%, rgba(9,9,121,1) 100%);
    padding: 80px 0;

}

.contact{
    margin: auto;
    color: var(--color-white);
    background-color: var(--color-black);
}

.contact form textarea{
    height: 200px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.contact form textarea::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: inherit;

}

.contact form textarea::-webkit-scrollbar:vertical {
    width:8px;
}

.contact form textarea::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.contact form textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: inherit;
}


/* ----------------- */
/* COMPONENTE FOOTER */
/* ----------------- */
.container-footer{
    color: var(--color-white);
    background-color: var(--color-black);
}
.footer{
    width: 85%;
    margin: auto;
}
.footer-logo{
    height: 40px;
}
.social{
    display: flex;
    align-items: flex-end;
}
.social-icon{
    color: var(--color-gray);
    border-radius: 50%;
    transition: all 0.2s;
}

.github:hover,
.github:focus{
    background-color: var(--color-white);
    color: #171515;
}
.twitch:hover,
.twitch:focus{
    background-color: var(--color-white);
    color: #6441A5;
}
.twitter:hover,
.twitter:focus{
    background-color: var(--color-white);
    color: #00ACEE;
}
.instagram:hover,
.instagram:focus{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);;
    color: var(--color-white);
}

@media (min-width: 728px) {
    .navbar .logo{
        width: 30%;
    }

    /* ------------------- */
    /* COMPONENTE PROJECTS */
    /* ------------------- */

    .projects{
        padding: 60px 0;
    }
    .proj-principal{
        height: 500px;
    }
    .proj-secondary{
        height: 450px;
        margin-top: 56px;
    }
    .secondary{
        width: 45%;
        height: 100%;
    }

    /* ------------------ */
    /* COMPONENTE CONTACT */
    /* ------------------ */

    .contact form textarea{
        height: 250px;
    }
}


@media (min-width: 992px) {
    .navbar .logo{
        width: 10%;
    }

    /* ------------------- */
    /* COMPONENTE PROJECTS */
    /* ------------------- */

    .projects{
        padding: 80px 0;
    }

    /* ----------------- */
    /* COMPONENTE FOOTER */
    /* ----------------- */
    
    .footer{
        height: 40px;
    }
}
